@import "styles/global.scss";

.inputContainer {
    position: relative;
    width: 400px;
}

.inputField {
  padding: 10px 20px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid $gray;
  transition: border-color 0.3s;
  color: $gray;
  font-size: 17px;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
  }
}

.error {
    position: absolute;
    font-size: 12px;
    color: $red;
    top: 65px;
    left: 0;
}